body{
    background-color: rgb(219, 216, 216);    
}
#mainBox{
    background-color: white;
    border-radius: 5%;
    border-bottom-right-radius: 25%;
    margin: 5%;
    padding: 5%;
    max-width: 375px;

}
#inputPart{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 10px;
    margin-right: 25%;
    /* margin-bottom: 25px; */
}
input{
    width: 70px;
    height: 100%;
    border-radius: 8%;
    text-align: center;
    font-size: 150%;
    border-style: solid;
    border-color:  rgb(226, 224, 224);
    color: hsl(0, 0%, 8%);
    background-color: white;
    margin-top: 5%;
}
#errD, #errM, #errY{
    margin-top:15%;
    color: hsl(0, 100%, 67%);
    visibility:hidden;
}
#iconContainer{
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 768px){
    #iconContainer{
        justify-content: flex-end;
    }  
}
#submit{
    background-color: blueviolet;
    border-radius: 50%;
    border-style: none;
}
svg{
    padding: 5px;
}
#bottomBorder{
    height: 90px;
    border-bottom-style: solid;
    border-color: rgb(226, 224, 224)
}
#outputPart{
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: black;
}
#resultY, #resultM, #resultD{
    color: blueviolet;
}